@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Klee+One&family=Marko+One&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Orbitron:wght@400..900&display=swap');

::-webkit-scrollbar {
  display: none;
}

:root {
  /* color */
  --primary: #f7f7f7;
  --secondary: #f4f4f4;
  --tertiary: #752696;
  
  /* size navbar */
  --width-nav: 100%;
  --height-nav: 8%;

  /* size bot-list */
  --width-bot-list: 22%;
  --height-bot-list: 92%;

  /* size message box */
  --width-message-box: 78%;
  --height-message-box: 92%;

  /* size message */
  --width-message: 100%;
  --height-message: 90%;

  /* size imput user message */
  --width-imput-message: 100%;
  --height-imput-message: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* user-select: none; */
}

body {
  background-color: var(--secondary);
}

.col-md-8 {
  width: 75%;
}

.nav h1 {
  margin-top: 10px;
  margin-left: 0.5em;
  color: var(--tertiary);
  font-family: "Anta", sans-serif;
  font-weight: bold;
  font-size: 4vh;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--primary);
  min-width: var(--width-nav);
  max-width: var(--width-nav);
  min-height: var(--height-nav);
  max-height: var(--height-nav);
  box-shadow: -5px 0px 26px 1px rgba(0, 0, 0, 0.23);
  z-index: 7;
  overflow: hidden;
}

.nav img {
  margin-top: -4px;
  height: 6vh;
}

.chatbot {
  display: flex;
  flex-direction: row;
  z-index: 6;
  overflow: hidden;
}

.chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  position: absolute;
  bottom: 0px;
  padding: 1em;
  box-shadow: -5px 0px 26px 1px rgba(0, 0, 0, 0.23);
  min-width: var(--width-bot-list);
  max-width: var(--width-bot-list);
  min-height: var(--height-bot-list);
  max-height: var(--height-bot-list);
  overflow: scroll;
  z-index: 5;
}

.button-bot {
  font-family: "Fredoka", sans-serif;
  border: none;
  background-color: var(--primary);
  border-radius: 1em;
  padding: 0;
}

.button-bot h5 {
  color: var(--tertiary);
}

.button-bot img {
  border-radius: 2em;
}

.button-bot:hover {
  background-color: #bfbfbf;
}

.message-box{
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: var(--width-message-box);
  max-width: var(--width-message-box);
  min-height: var(--height-message-box);
  max-height: var(--height-message-box);
  overflow: hidden;
  z-index: 1;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 2em;
  position: absolute;
  bottom: var(--height-imput-message);
  right: 0px;
  min-width: var(--width-message);
  max-width: var(--width-message);
  min-height: var(--height-message);
  max-height: var(--height-message);
  overflow: scroll;
  z-index: 4;
}

.bot-message {
  align-self: flex-start;
  background-color: #bfbfbf;
}

.user-message {
  align-self: flex-end;
  background-color: var(--tertiary);
  color: white;
}

.user-chrono {
  align-self: flex-end;
}

.user-chrono, .bot-chrono {
  margin-bottom: 1.5em;
}

.name-user {
  align-self: flex-end;
}

.name-user, .name-bot {
  margin: 0;
  display: flex;
  flex-direction: row;
  max-width: 70%;

  img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    border-radius: 1em;
  }

  p {
    color: #752696;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.1em;
  }
}

.bot-message, .user-message {
  text-align: left;
  box-shadow: 10px 10px 123px -70px rgba(0,0,0,0.55);
  border-radius: 1em;
  font-size: 1.2em;
  max-width: 70%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.6em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  p {
    margin: 0;
  }
}

.input-message {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  min-width: var(--width-imput-message);
  max-width: var(--width-imput-message);
  min-height: var(--height-imput-message);
  max-height: var(--height-imput-message);
  bottom: 0;
  right: 0;
  z-index: 4;
  overflow: hidden;
}

.input-message form {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.input-message form input[type=text] {
  width: 80%;
  height: 80%;
  font-size: 1.2em;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 0.5em;
}

.input-message form input[type=submit] {
  font-size: 1.2em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: var(--tertiary);
  color: var(--secondary);
}

.popup {
  display: none;
  position: fixed;
  border-radius: 3rem;
  top: 22%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #bfbfbf;
  padding: 20px;
  border: 2px solid var(--tertiary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 200%;
  opacity: 0; /* L'élément est initialement transparent */
  animation: fade-in 0.5s ease-in-out forwards; /* Animation de fondu */
}

.popup img {
  width: 5%;
  border-radius: 50%;
}

.popup h4 {
  color: var(--tertiary);
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
}

.popup-content p {
  color: #000000;
  font-family: "Space Grotesk", sans-serif;
  margin-left: 10%;
  margin-top: 5%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup:before {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 0;
  height: 0;
}

.mess-date {
  font-family: "Anta", sans-serif;
  font-weight: 100;
  font-style: normal;
}